@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0%;
    padding: 0%;
   
}


.sidebar{
    position: absolute;
    background-color: rgb(223, 218, 218);
    /* width: 434px; */
font-family: "Fira Sans", sans-serif;
    /* height: 100vh; */
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
   text-decoration: none;
   color: black;
}

.main{
    /* background-color: aqua; */
    width: 90vw;
}

.container{
    display: flex;
    
}

.infoContainer{
    /* background-color: green; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    justify-content: space-around;
    display: flex;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
     font-family: "Source Code Pro", monospace;
     
}

.hello{
    font-size: 3em;
    
}

.name{
       font-size: 3em;
       font-weight: bold;
       font-family: "Fira Sans", sans-serif;
}

.about{
       font-size: 2.5em;
}

.moreabout{
    margin-top: 2em;
    font-size: 22px;
    font-family: "Fira Sans", sans-serif;
}

.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;

}

.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn :hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 58vh;
}

.contactform{
   
   padding: 0 34px;
   font-family: "Fira Sans", sans-serif; 
   margin: 88px;
}
.contactform h1{
     font-family: "Source Code Pro", monospace;
    /* padding: 12px 0; */

}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{

  /* width: 26vw; */
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;

}
}
.contactform form div {

    margin: 0 40px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#for-check{
    flex-direction: row;
}

#for-check input{
    width: 24px;
    margin: 3px 0;
}

.blogItem {
   margin: 20px; 
   font-family: "Fira Sans", sans-serif; 
}

.blogContainer{
    margin: 88px;
}
 h1{
    
    margin: 23px;
   font-family: "Fira Sans", sans-serif; 
}
p{
    font-family: "Source Code Pro", monospace;

}

.intro{
    margin: 88px;
}

.intro h2{
     font-family: "Fira Sans", sans-serif; 
     margin:  12px; 
}
.intro p{
      font-family: "Source Code Pro", monospace;
       margin:  12px; 
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    /* display: flex; */
     font-family: "Source Code Pro", monospace;
     font-weight: 900;
    align-items: center;
}
.skill{
    width: 23px;
    height: 23px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.sidebarGo{
        transform: translate(-443px, 0px);
        position: absolute;
}


.hamburger{
    top: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer
    
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}

.cross{
    margin-left: 165px;
    margin: 10px;
}

@media (max-width: 1615px) {
*{
    /* background-color: rgb(230,146,146); */
}
.buttons{
    font-size: 6px;
}
.devInfo{
    font-size: 10px;
}
.devPic{
    /* display: none; */
}

.intro, .blogContainer, .contactform{
    margin: 50px 8px;
}
}